- name: Home
  # Optionally, if you only have a single page you can hide the desktop navigation for a cleaner look
  # hide-desktop-navigation: true

  columns:
    - size: small
      widgets:
        - type: calendar
          first-day-of-week: monday

        - type: twitch-channels
          channels:
            - theprimeagen

        - type: group
          widgets:
            - type: hacker-news

    - size: full
      widgets:
        - type: videos
          style: grid-cards
          channels:
            - UCsBjURrPoezykLs9EqgamOA # Fireship
            - UC8ENHE5xdFSwx71u3fDH5Xw # primeagen
            - UCUyeluBRhGPCW4rPe_UvBZQ # prime time
            - UC3yaWWA9FF9OBog5U9ml68A # savy nik

    - size: small
      widgets:
        - type: weather
          location: Thimphu, Bhutan
          units: metric # alternatively "imperial"
          hour-format: 12h # alternatively "24h"
          # Optionally hide the location from being displayed in the widget
          # hide-location: true

        - type: releases
          cache: 1d
          # Without authentication the Github API allows for up to 60 requests per hour. You can create a
          # read-only token from your Github account settings and use it here to increase the limit.
          # token: ...
          repositories:
            - syncthing/syncthing

        - type: docker-containers
          hide-by-default: false
